/*
You will style your page using at least 10 CSS selectors for general CSS styling. You will place the CSS in its own file. You must style the is-green class to make text have a color of #00E676 and is-red class to make text have a color of #FF3D00.
*/
body {
  background-color: #b6ebef;
}

main {
max-width: 75%;
margin:auto;
}

h1 {
  color: #ca997e;
  font-family: Georgia, serif;
  font-size: 32px;
  font-weight: lighter;
  font-style: italic;
}

h2 {
  color: #708294;
  font-family: Georgia, serif;
  font-size: 32px;
  margin-bottom: 5px;
}

p, label {
  color: #8f7792;
  font-family:'Times New Roman', Times, serif;
  font-size: 24px;
  margin-bottom: 20px;
}

li {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-bottom: 5px;
}

a:link {
  color: #A5A58D;
}
a:visited {
  color: #B97550;
}
a:hover {
  color: #DDBEA9;
}
a:active {
  color: #D6B199;
}
a.new {
  color: #6B705C;
  font-family: Georgia, serif;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 5px;
}

.not-found {
  color: #B97550;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

input[type=text] {
  padding: 8px 10px;
}

button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  background-color: #DDBEA9;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 10px;
  text-align: center;
  display: inline-block;
  transition-duration: 0.3s;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: #DDBEA9;
}

.is-green{
  color: #00E676
}

.is-red{
  color:#FF3D00
}

.error{
  color:#1e484e;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-bottom: 5px;
}